<div class="grid md:grid-cols-2 grid-cols-1 items-center gap-7 mb-8">
    <div class="">
      <img class="rounded-xl w-full max-h-[300px] object-cover h-auto" src="https://s3-alpha-sig.figma.com/img/238b/b516/0294c803cd1966de715a7d414534b9fa?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=h5xs7vQHeTsyXUBcYzK4uO5SAY5fA~YWnC4b0Yj-RCE4caUOzsdZpMpXPCdPMr5mBS5k0OinbLUQbw1VlN0PiRKzGRHvw9J81ut2xdFlwMuW6MRCl8-dXJCpbxhlll6TSLn3zLOifJP6Cc~9ds7B3-580T5YkMmeweQaWhH28r4rgsP6CIqNOLi7uDyWNB~cg18TzLTvf~ZZkT9WcqHMzVhTbMF4ZHxCRALvbqRdvG4DzIBt8QTqVNjAuj0J5zM9LoG-hVPlMwXRa0bABfcTtDDHhT08BBQ~bzmKSOjNmbv46REUh0Gm7L0YOcLVi02~jxMyc~0g1DpvaLGcdP~LXA__" alt="">
    </div>
    <div>
      <p class="text-[#455073] font-bold text-lg">Ajustes globales</p>
      <hr class="max-w-[240px] border-green-400 my-1">
      <p class="text-[#455073] font-normal text-base">
        Este apartado permite modificar aspectos globales <br> relacionados con el ecosistema económico de VX CARD
      </p>
    </div>
    <div class="bg-white rounded-xl py-5 px-3">
        <label for="" class="text-[#455073] font-normal text-base ">Capacidad mensual</label>
        <div class="flex items-center flex-nowrap gap-2 mt-5">
          <input type="text" name="text" id="text" class="block w-full rounded-lg bg-[#F1F3FA] px-3 py-1.5 text-base text-[#7B87AD66]/40  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="100">
          <button type="button" class="-m-2.5 p-2 text-[#171717] bg-[#5BAF30] rounded-md mx-2 ">
            <span class="sr-only">View notifications</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
            </svg>
          </button>
        </div>
    </div>
    <div class="bg-white rounded-xl py-5 px-3">
        <label for="" class="text-[#455073] font-normal text-base ">Cuota anual de afiliación</label>
        <div class="flex items-center flex-nowrap gap-2 mt-5">
          <input type="text" name="text" id="text" class="block w-full rounded-lg bg-[#F1F3FA] px-3 py-1.5 text-base text-[#7B87AD66]/40  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="100">
          <button type="button" class="-m-2.5 p-2 text-[#171717] bg-[#5BAF30] rounded-md mx-2 ">
            <span class="sr-only">View notifications</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
            </svg>
          </button>
        </div>
    </div>
    <div class="bg-white rounded-xl py-5 px-3">
        <label for="" class="text-[#455073] font-normal text-base ">Tarifa de activación</label>
        <div class="flex items-center flex-nowrap gap-2 mt-5">
          <input type="text" name="text" id="text" class="block w-full rounded-lg bg-[#F1F3FA] px-3 py-1.5 text-base text-[#7B87AD66]/40  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="100">
          <button type="button" class="-m-2.5 p-2 text-[#171717] bg-[#5BAF30] rounded-md mx-2 ">
            <span class="sr-only">View notifications</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
            </svg>
          </button>
        </div>
    </div>
    <div class="bg-white rounded-xl py-5 px-3">
        <label for="" class="text-[#455073] font-normal text-base ">Tasa de recarga de la tarjeta</label>
        <div class="flex items-center flex-nowrap gap-2 mt-5">
          <input type="text" name="text" id="text" class="block w-full rounded-lg bg-[#F1F3FA] px-3 py-1.5 text-base text-[#7B87AD66]/40  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="100">
          <button type="button" class="-m-2.5 p-2 text-[#171717] bg-[#5BAF30] rounded-md mx-2 ">
            <span class="sr-only">View notifications</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
            </svg>
          </button>
        </div>
    </div>
    <div class="bg-white rounded-xl py-5 px-3">
        <label for="" class="text-[#455073] font-normal text-base ">Tarifa mensual</label>
        <div class="flex items-center flex-nowrap gap-2 mt-5">
          <input type="text" name="text" id="text" class="block w-full rounded-lg bg-[#F1F3FA] px-3 py-1.5 text-base text-[#7B87AD66]/40  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="100">
          <button type="button" class="-m-2.5 p-2 text-[#171717] bg-[#5BAF30] rounded-md mx-2 ">
            <span class="sr-only">View notifications</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
            </svg>
          </button>
        </div>
    </div>
    <div class="bg-white rounded-xl py-5 px-3">
        <label for="" class="text-[#455073] font-normal text-base ">Comisión de acceso <strong>(monedaextranjera)</strong></label>
        <div class="flex items-center flex-nowrap gap-2 mt-5">
          <input type="text" name="text" id="text" class="block w-full rounded-lg bg-[#F1F3FA] px-3 py-1.5 text-base text-[#7B87AD66]/40  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="100">
          <button type="button" class="-m-2.5 p-2 text-[#171717] bg-[#5BAF30] rounded-md mx-2 ">
            <span class="sr-only">View notifications</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
              <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
            </svg>
          </button>
        </div>
    </div>
</div>
