<div class="grid lg:grid-cols-5 grid-cols-2 gap-4 mb-8">
    <div class="lg:col-span-2">
      <div class="card">
        <div class="card-image-black">
          <div class="card-overlay">
              <div class="flex w-full justify-between items-center px-4 ">
                  <img src="assets/images/logo.png" class="w-16 h-10 " alt="">
                  <p class="text-white text-sm font-normal">Crear usuario</p>
              </div>

          </div>
        </div>
      </div>
    </div>
    <div class="lg:col-span-3">
        <div class="bg-white rounded-lg p-2">
          <div class="grid md:grid-cols-2 gap-x-2 grid-cols-1">
            <div class="metric-wrapper bg-[#E5F9FF]">
              <img class="w-12 h-10 object-cover" src="https://s3-alpha-sig.figma.com/img/77f4/70d1/9682f42aaa021777e7186da4fb917c6e?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=inyEPI3Fo~Ob6Y~qoqBsVFL52pF0uPLGH1JUJdEjkuy9K8QkDmcEA-tLnDCWxzCwLJEH0t609athQCUNN7JXCpU8GAq9YuZbVAEr47pNTVivcjTXPjrWMtKy82UL1v6k49RsnpRqdd0tIYWEOTPpiHH4djOPzlmET6p7irYFU0XXnO3y7G9QxJJr-LyVluVQ-0tBGOparbbpyeRvotkSQ1EAu7JOh9MgVWPCFerVUwCfsS8tbzMXh5oaZSFCn4bGR4GPt8xwN1ziCKJpN3~~89HgQJ41FhKlhd84cw8141LqmJ-7YyKVCk51NjpPd~tJtQFOukiHLiTsODN9nJUpsA__" alt="">
              <div>
                <p class="text-sm mb-1 font-normal text-[#455073]">Depositos</p>
                <p class="text-sm mb-1 font-bold text-[#455073]">{{getTotalRecharges() | currency}}</p>
              </div>
            </div>
            <div class="metric-wrapper bg-[#FFEDE5]">
              <img class="w-12 h-10 object-cover" src="https://s3-alpha-sig.figma.com/img/af93/e823/ad449f1e10deacf68f6ed718278c9fbb?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=rNCVJbmgmlIhSrgouEYlejzqL~vucz1-87Ex7ncjq6Un~cFmKa7bQIhLp7xExggsom779tgyi1oQ~6HfDFzuGmW7ynwHZQP02~AF0nO~ybV5wna8uA0PnX6X2p05Wk-OxEZa0IldBqZolSxBKffU4l8mYUEz2xtEWCnoWnPs5gvT536IuZv1Gt~6z63y0b7oe19zhy5sGEnmc8tZbbjlzZtJs40vZm98WAYM6vegzt~jonZsoSaMJJo~wJZJlOIc2qaBITa6r6nqCu4O--WPCCkF5~tdo19iMoKVv~nWcYQAHmqQDpIj4NuQqGW~S31a1RiCmPD7TbeqwS7IkdJtCw__" alt="">
              <div>
                <p class="text-sm mb-1 font-normal text-[#455073]">Usuarios</p>
                <p class="text-sm mb-1 font-bold text-[#455073]">{{users.length}}</p>
              </div>
            </div>
            <!-- <div class="metric-wrapper bg-[#EAE5FF]">
              <img class="w-12 h-10 object-cover" src="https://s3-alpha-sig.figma.com/img/ee0c/f25c/3cda30bf8cac1158421dcffff1c503dc?Expires=1741564800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=VrZsqxs0hfsEP1OxoTwp31EFL2ofqmLSLXrgUjB6eQ4ySHZpADcjQV8eUlIEbX5mFdhxwi2MXMmgn1GKbN6-AXMouXry-sc9sdz2vpcwkrMe1cdkrBeU-N8fZH4mZO3AdAimgpZVwQ4pBvmr8bLObZOwvFWaWlbrMDpUoH9-j43JqG0CLkI8-UXB4SObMq-hLoNXaMlHEwvbpNx0yImVAjoflOxEdM8b-ROgxKdFhFic8dBCuH2JRTQvNbTk6oQcFW~OIqE5MQ1dZFwEJsFxiWbMoMtW5RnY4YtMPZcI5RshCPXpzXhikOuwbhUu~bAj8xixhnvIdirLZgPUb5~YyQ__" alt="">
              <div>
                <p class="text-sm mb-1 font-normal text-[#455073]">Consumos</p>
                <p class="text-sm mb-1 font-bold text-[#455073]">30,564</p>
              </div>
            </div> -->
          </div>
        </div>
    </div>
</div>

<div class="grid lg:grid-cols-10 grid-cols-1 gap-6 mb-8">
    <div class="bg-white rounded-lg p-3 lg:col-span-7">
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [dataLabels]="chartOptions.dataLabels"
          [yaxis]="chartOptions.yaxis"
          [labels]="chartOptions.labels"
          [legend]="chartOptions.legend"
          [title]="chartOptions.title"
          [subtitle]="chartOptions.subtitle"
        ></apx-chart>
      </div>

    </div>
    <div class="bg-white rounded-lg p-3 lg:col-span-3">
      <div id="chart">
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [plotOptions]="chartOptions2.plotOptions"
          [labels]="chartOptions2.labels"
        ></apx-chart>
      </div>
    </div>
</div>

<div class="px-4 sm:px-6 lg:px-8 table-wrapper ">
  <div class="">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-bold text-[#455073]">Últimas compras globales</h1>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-3">Usuario</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Valor</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Moneda</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Fecha</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Motivo</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Estado</th>

              </tr>
            </thead>
            <tbody class="bg-white">
              <tr *ngFor="let t of transactions" class=" text-center">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">{{t.userName}}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{t.amount | currency}} </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">USD</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{t.transactionDate | date:'medium'}}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{t.reason}}</td>
                <td class="whitespace-nowrap px-3 py-4  ">
                  <span class="bg-green-100 text-green-500 text-sm border-green-500 rounded-2xl px-7 py-2">
                    Exitosa
                  </span>
                </td>

              </tr>
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
