<div class="grid  grid-cols-5 gap-4 mb-8">
    <div class="lg:col-span-2">
      <div  (click)="showCreateUserModal = !showCreateUserModal" class="card  cursor-pointer">
        <div class="card-image-black">
          <div class="card-overlay">
              <div class="flex w-full justify-between items-center px-4 ">
                  <img src="assets/images/logo.png" class="w-40 h-5 " alt="">
                  <p class="text-white text-sm font-normal">Crear usuario</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-3">
        <div class="bg-white rounded-lg p-2">
          <div class="grid grid-cols-3 gap-x-2 ">
            <div class="metric-wrapper bg-[#E5F9FF]">
              <img class="w-12 h-10 object-cover" src="https://s3-alpha-sig.figma.com/img/77f4/70d1/9682f42aaa021777e7186da4fb917c6e?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=H~b~f3nuvJA2zRL4KZVu0cxL5iDkM5DQMjDvStqV6KkfPrdOTM~vU2sF7GQheEpXsVfzQGrj9dRE7SRsoMvGL-uV58vNY53hDY-hBZFmhqSSx6nJw0M6DZBi89GNHTwFEup7v8642lOkhVUYt71dgDvhYj9AlJeo~1z1YSG~segT8Yw1copR1dn05kRIq8ptyTTuRerSFsdVdgAfjlfvPtwf6PuzDn2J2UCh51b-pgkRDNgoDNoj9BvnE-SfgpNi962w04HLUR1gkfv9R29BOHVFHByGDg95Vw3DK~ntdltc2FQEbBF4z4hCrjfGSr36dynlu~N1aLmjhdp4L8m31g__" alt="">
              <div>
                <p class="text-sm mb-1 font-normal text-[#455073]">Depositos</p>
                <p class="text-sm mb-1 font-bold text-[#455073]">{{getTotalRecharges() | currency}}</p>
              </div>
            </div>
            <div class="metric-wrapper bg-[#FFEDE5]">
              <img class="w-12 h-10 object-cover" src="https://s3-alpha-sig.figma.com/img/af93/e823/ad449f1e10deacf68f6ed718278c9fbb?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=fqhL~6cuAtS4BVH6PswSMkWDsLwrbmhf44TndUgSWTxRJf22xNFBzMsaxzQlidZO6kqz3x1XtAecKZB-cq9oqICxs8XTBAsC2JnvKKZXNAEALdvQiGw9mgKdJVMFwQ6pUfFRYTsPZDrjod9RyP4l1R39pa3wAOAks2ckPagQkRxod-WdSLFDGfRSTVT8oBqqC6vL2QIHEafywZuKUVFi3JsuGHGBdJQaEMw9Q3KMBvrkE8umwkrEDO26paZf7BaiXSJfeS8v4ryvPyGcsI~INTcZKngH~Oqp7KioqH3dP8o873UcmWYHV~wJ6EZubW-Oq8IJezBPiVj1YxcsoJXkRg__" alt="">
              <div>
                <p class="text-sm mb-1 font-normal text-[#455073]">Usuarios</p>
                <p class="text-sm mb-1 font-bold text-[#455073]">{{users.length}}</p>
              </div>
            </div>
             <div class="metric-wrapper bg-[#EAE5FF]">
              <img class="w-12 h-10 object-cover" src="https://s3-alpha-sig.figma.com/img/ee0c/f25c/3cda30bf8cac1158421dcffff1c503dc?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ScVitQyZr1xw-eJbYc9iHfH6JjlQFYiM10r-EtLehbv0B5Pb1-fc0BcI66E-tDt5zoS5-SZsqeMkDdiakzWdviHSKiB37hiaxSJr9xtiiiNjbz1e8KB8QkI0hTd1-KiYfmRrWKPM3xPtM7ErHnuaHe2S5Mg~ux0jNV0O-Na0urIYOv3C1nG6m2f1W7eaDg7wXX7Cb7XKxDtNQ7AJBF1SFnpoK31Ql2ZJd8O1qRuZD-7IGfsM6WFXmvekvKLbZ9LSqmt844bThMfm6s4osWi74EhWyHVs~ozhqheLYTs6zzL5o0n6VBLcnKEX2UT8bo~pjwJS2hlfM6gr~uKjl2Rv8g__" alt="">
              <div>
                <p class="text-sm mb-1 font-normal text-[#455073]">Consumos</p>
                <p class="text-sm mb-1 font-bold text-[#455073]">0 </p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="grid lg:grid-cols-10 grid-cols-1 gap-6 mb-8">
    <div class="bg-white rounded-lg p-3 lg:col-span-7">
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [stroke]="chartOptions.stroke"
          [dataLabels]="chartOptions.dataLabels"
          [yaxis]="chartOptions.yaxis"
          [labels]="chartOptions.labels"
          [legend]="chartOptions.legend"
          [title]="chartOptions.title"
          [subtitle]="chartOptions.subtitle"
        ></apx-chart>
      </div>

    </div>
    <div class="bg-white rounded-lg p-3 lg:col-span-3">
      <div id="chart">
        <apx-chart
          [series]="chartOptions2.series"
          [chart]="chartOptions2.chart"
          [plotOptions]="chartOptions2.plotOptions"
          [labels]="chartOptions2.labels"
        ></apx-chart>
      </div>
    </div>
</div>

<div class="px-4 sm:px-6 lg:px-8 table-wrapper ">
  <div class="">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-bold text-[#455073]">Últimas compras globales</h1>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-center text-sm font-semibold text-gray-900 sm:pl-3">Usuario</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Valor</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Moneda</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Fecha</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Motivo</th>
                <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900">Estado</th>

              </tr>
            </thead>
            <tbody class="bg-white">
              <tr *ngFor="let t of transactions" class=" text-center">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">{{t.userName}}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{t.amount | currency}} </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">USD</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{t.transactionDate | date:'medium'}}</td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{t.reason}}</td>
                <td class="whitespace-nowrap px-3 py-4  ">
                  <span class="bg-green-100 text-green-500 text-sm border-green-500 rounded-2xl px-7 py-2">
                    Exitosa
                  </span>
                </td>

              </tr>
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<app-create-admin-user *ngIf="showCreateUserModal" (close)="refresh()" ></app-create-admin-user>
