
<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div [ngClass]="isDarkBoolean ? 'bg-[#181818] text-white' : 'bg-white text-[#7B87AD]'"  class="relative transform overflow-hidden rounded-lg  px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-md sm:p-6">
            <div class="badge flex items-center justify-between mb-4">
              <p class="text-[#455073] font-bold text-base">Recargar wallet </p>
              <button (click)="goAway()"  class="border-2 border-[#455073] rounded-md  cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <div class="mb-4">
              <label for="number" class="block text-base font-bold  text-center">Cantidad a recargar</label>
              <div class="mt-2">
                <input [ngClass]="isDarkBoolean ? 'bg-gray-950 text-white' : 'bg-gray-100 text-[#455073]'"   [(ngModel)]="amount" type="number" name="number" id="number" class="block w-full rounded-3xl  px-3 py-1.5 text-base   focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm" placeholder="Ingresa el saldo a recargar">
              </div>
            </div>

            <div [ngClass]="isDarkBoolean ? 'bg-gray-950 text-white' : 'bg-gray-50 text-[#455073]'" class=" shadow-2xl rounded-xl p-3 mb-5">
                <div class="grid grid-cols-2 gap-4 mb-3 items-center">
                    <img *ngIf="!isDarkBoolean" src="assets/images/logo-black.png" alt="">
                    <img *ngIf="isDarkBoolean" src="assets/images/logo.png" alt="">
                    <img src="assets/images/qr.png" alt="">
                </div>
                <p class=" font-normal text-sm text-center">Scan the <strong>QR code</strong> to recharge your wallet</p>

                <span [ngClass]="isDarkBoolean ? 'bg-gray-900 text-white' : 'bg-gray-50 text-[#455073]'" class=" rounded-2xl text-xs truncate py-2.5 px-4 mt-4 flex items-center justify-between  w-full ">
                  TKmGeR6FC7xNjXAwL4wB35VTefxj7tmYzx
                  <img src="assets/icons/copy.png" class="bg-[#FBBC30] rounded-full p-2 " alt="">
                </span>
            </div>

            <button (click)="recharge()" class="btn-primary mb-3 cursor-pointer" >Confirmar recarga </button>
      </div>
    </div>
  </div>
</div>
