<div class="bg-register h-full w-full bg-[#f7f8fc] flex items-center justify-center lg:px-8 px-4">
  <div class="login-wrapper w-full md:max-w-[450px] md:-ml-3 mt-4 ">
    <div class="badge  ">
      <button routerLink="/auth/register/set-email" class="">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
      </button>
      <p class="text-[#455073] font-bold text-base">Registro</p>
    </div>
    <div class="flex justify-between items-center my-8" >
      <img src="assets/images/logo-black.png" class="  h-full w-auto" alt="">
      <h1 class="text-[#455073] text-3xl font-bold ">Paso 2</h1>
    </div>

    <div class="mb-8">
      <p class="text-sm font-normal text-[#455073]">
        Cree una contraseña segura y confírmela a continuación para continuar.
      </p>
    </div>
    <div class="mb-5">
      <label for="password" class=" block text-base font-bold text-[#7B87AD]">Nueva contraseña</label>
      <div class="mt-2">
        <input type="password" [(ngModel)]="password" name="password" id="password" class="block w-full rounded-3xl bg-[#F1F3FA] px-3 py-1.5 text-base text-[#7b87adfd]  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="Escribe tu nueva contraseña">
      </div>
    </div>
    <div class="mb-5">
      <label for="password" class=" block text-base font-bold text-[#7B87AD]">Confirmar Contraseña</label>
      <div class="mt-2">
        <input type="password" [(ngModel)]="confirmPassword" name="password" id="password" class="block w-full rounded-3xl bg-[#F1F3FA] px-3 py-1.5 text-base text-[#7b87ad]  placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" placeholder="Confirma tu contraseña">
      </div>
    </div>



    <button class="btn-primary mb-3 cursor-pointer" (click)="savePassword()" >Continuar</button>
</div>
</div>
