.login-wrapper {
  background-color: white;
  box-shadow: 0px 10px 30px 0px #7883A84D;
  padding: 24px 31px;
  border-radius:20px ;
}



.btn-outline{
  border: #05134A solid 1px ;
  border-radius: 24px;
  color:#05134A ;
  font-size: 16px;
  padding: 6px;
  width: 100%;
  font-weight: 400;
}

