<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">


  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-2xl sm:p-6">
        <div class="h-full w-full b flex items-center justify-center ">
          <div class="login-wrapper w-full md:max-w-4xl md:-ml-3 mt-4 ">
            <div class="badge mb-7 flex justify-between items-center">
              <p class="text-[#455073] font-bold text-base">Perfil Usuario</p>
              <button (click)="goAway()" class="border-2 border-[#455073] rounded-md text-[#455073]">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
              </button>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2  items-center gap-6 mb-7">
                <section>
                  <div class="flex justify-start items-center gap-x-6 mb-6">
                    <img src="https://s3-alpha-sig.figma.com/img/fd3d/4c48/a8b689cbbfb343fe22651fcb4dc1c2e0?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=IEEitAtgllT5tOWeTf9gJEClBM~Y1kCV~hrmkALTfMJuAvBsYrzWSZMviAFiYB9p-3P~CfjBNBHWduthIff6IzHb9~FiBbk6K~8qrzqMST3xdhlAXpQT9bfJ2eZ1OGWvccP73SUhaIIqrXMwuiTwsoW0xoZ9vpOZzgRlh5wNJQMmo8B~iB6CAKh1JH7UpJjT~11fGfcze27kGuIRsPYS5ziT5B~FLwKKIPgmI4dC1k5JZD3CaqS6s08Ze-JI2Gi8~9blGMzbySGgHZAnO45TBgvNhg8hAgWH1WKvG8MiKUj7fzv2Zn6xvutPAb-97zaKk22erevZHr3pFyKTfQ9bKg__" class="rounded-2xl w-24 h-24 object-cover border-green-500 border" alt="">
                    <div>
                      <p class="text-sm font-normal mb-2 text-[#313131]">
                        Nombre de usuario:
                      </p>
                      <p class="text-base  font-bold text-[#313131]">
                        {{data.fullName}}
                      </p>
                    </div>
                  </div>

                </section>
                <section class="profile-info-card flex flex-col justify-between gap-y-4">
                  <div class="">
                    <p class="text-sm font-normal mb-2 text-[#313131]">
                      Correo electrónico:
                    </p>
                    <p class="text-base  font-bold text-[#313131]">
                      {{data.email}}
                    </p>
                  </div>
                  <div class="">
                    <p class="text-sm font-normal mb-2 text-[#313131]">
                      Dirección:
                    </p>
                    <p class="text-base  font-bold text-[#313131]">
                      {{data.address}}
                    </p>
                  </div>
                  <div class="">
                    <p class="text-sm font-normal mb-2 text-[#313131]">
                      Número de teléfono:
                    </p>
                    <p class="text-base  font-bold text-[#313131]">
                     {{data.phone}}
                    </p>
                  </div>
                  <div class="">
                    <p class="text-sm font-normal mb-2 text-[#313131]">
                      Última actualización:
                    </p>
                    <p class="text-base  font-bold text-[#313131]">
                      {{data.registrationDate}}
                    </p>
                  </div>
                </section>
            </div>
            <div *ngIf="data.role == 2" class="grid lg:grid-cols-2 gap-4 mb-7 lg:mb-14">
              <div class="">
                <div class="card-credit">
                  <div class="card-image-black">
                    <div class="card-overlay">
                        <div class="flex w-full justify-between items-start mb-6">
                            <img src="assets/images/logo.png" class="w-40 h-6 " alt="">
                            <p class="text-xs text-white font-normal">Tarjeta física</p>
                        </div>
                        <div *ngIf="cardSelected !== 'physical' " class="flex w-full justify-between items-start mb-6">
                          <div>
                            <p class="text-2xl text-start text-white font-semibold" >{{data.cards[0].balance | currency}}</p>
                            <p class="text-xs text-white text-start font-normal">Balance total</p>
                          </div>
                          <img src="assets/icons/mastercard.png" class="w-16 h-9 " alt="">
                        </div>
                        <div *ngIf="cardSelected === 'physical' && showCardInfo" class="flex w-full justify-between items-start mb-6">
                          <div>
                            <p class="text-base text-white font-semibold">{{data.cards[0].number }}</p>
                            <p class="text-sm text-white text-start font-normal">{{data.cards[0].expDate }}</p>
                          </div>
                          <p class="text-sm text-white text-start font-normal">{{data.cards[0].cvc }}</p>
                        </div>
                        <div class="flex justify-between flex-wrap w-full items-center gap-x-3">
                            <a (click)="showCardData('physical')"  class="text-white text-sm font-medium flex items-center gap-x-2 cursor-pointer">
                              Ver datos
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                                <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                              </svg>
                            </a>
                            <button [disabled]="isLoading" (click)="changeCardStatus(data.cards[0].isFrozen, data.cards[0].id)" [ngClass]="{'bg-purple-300': data.cards[0].isFrozen, 'bg-purple-100': !data.cards[0].isFrozen}" class=" flex justify-center items-center  h-8 w-8 rounded-full p-2">
                              <img src="assets/icons/freeze.png" class="w-full h-auto" alt="">
                            </button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="">
                <div class="card-credit">
                  <div class="card-image-light">
                    <div class="card-overlay">
                        <div class="flex w-full justify-between items-start mb-6">
                            <img src="assets/images/logo-black.png" class="w-40 h-6 " alt="">
                            <p class="text-xs text-black font-normal">Tarjeta virtual</p>
                        </div>
                        <div *ngIf="cardSelected !== 'virtual'  " class="flex w-full justify-between items-start mb-6">
                          <div>
                            <p class="text-2xl text-black font-semibold">{{data.cards[1].balance | currency}}</p>
                            <p class="text-xs text-black text-start font-normal">Balance total</p>
                          </div>
                          <img src="assets/icons/mastercard-black.svg" class="w-16 h-9 " alt="">
                        </div>
                        <div *ngIf="cardSelected === 'virtual' && showCardInfo" class="flex w-full justify-between items-start mb-6">
                          <div>
                            <p class="text-base text-black font-semibold">{{data.cards[1].number }}</p>
                            <p class="text-sm text-black text-start font-normal">{{data.cards[1].expDate }}</p>
                          </div>
                          <p class="text-sm text-black text-start font-normal">{{data.cards[1].cvc }}</p>
                        </div>
                        <div class="flex justify-between w-full items-center gap-x-3">
                            <a  (click)="showCardData('virtual')" class="btn-dark flex items-center text-nowrap w-full  justify-around gap-x-2 cursor-pointer">
                              Ver datos
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                                <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                              </svg>
                            </a>
                            <button [disabled]="isLoading" (click)="changeCardStatus(data.cards[1].isFrozen, data.cards[1].id)" [ngClass]="{'bg-purple-300': data.cards[1].isFrozen, 'bg-purple-100': !data.cards[1].isFrozen}" class=" flex justify-center items-center  h-8 w-8 rounded-full p-2">
                              <img src="assets/icons/freeze.png" class="w-full h-auto" alt="">
                            </button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="data.role == 2" class="px-4 sm:px-6 lg:px-8 table-wrapper ">
              <div class="">
                <div class="sm:flex sm:items-center">
                  <div class="sm:flex-auto">
                    <h1 class="text-base font-bold text-[#455073]">Últimas compras </h1>
                  </div>
                </div>
                <div class="mt-8 flow-root">
                  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                      <table class="min-w-full ">
                        <thead>
                          <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-center bg-[#E2E8F0] text-sm font-semibold text-gray-900 sm:pl-3">Usuario</th>
                            <th scope="col" class="px-3 py-3.5 text-center bg-[#E2E8F0] text-sm font-semibold text-gray-900">Valor</th>
                            <th scope="col" class="px-3 py-3.5 text-center bg-[#E2E8F0] text-sm font-semibold text-gray-900">Moneda</th>
                            <th scope="col" class="px-3 py-3.5 text-center bg-[#E2E8F0] text-sm font-semibold text-gray-900">Fecha</th>
                            <th scope="col" class="px-3 py-3.5 text-center bg-[#E2E8F0] text-sm font-semibold text-gray-900">Motivo</th>
                            <th scope="col" class="px-3 py-3.5 text-center bg-[#E2E8F0] text-sm font-semibold text-gray-900">Estado</th>

                          </tr>
                        </thead>
                        <tbody *ngFor="let t of data.transactions" class="bg-white divide-y divide-gray-300">
                          <tr class=" text-center">
                            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">{{t.amount | currency}}</td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">USD</td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{t.transactionDate | date:'medium'}}</td>
                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{t.reason}}</td>
                            <td class="whitespace-nowrap px-3 py-4  ">
                              <span class="bg-green-100 text-green-500 text-sm border-green-500 rounded-2xl px-7 py-2">
                                Exitosa
                              </span>
                            </td>

                          </tr>
                          <!-- More people... -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
